In [ ]:
# # Consumers know
#     The Price
#     The Professional Rating
#     The taste
# # Wine tasters
#     The score given by the tasters effects the price

In [16]:
%matplotlib inline

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

In [18]:
#Imported 4 sets of data
vivino_file_red = "red_wine_0to400_anyrating.csv"
vivino_file_sparkling = "sparkling_wine_0to400_anyrating.csv"
vivino_file_white = "white_wine_0to400_anyrating (1).csv"
winemag_file = "winemag-data-130k-v2.csv"
winemag_file_df = pd.read_csv(winemag_file)
vivino_file_red_df = pd.read_csv(vivino_file_red)
vivino_file_sparkling_df = pd.read_csv(vivino_file_sparkling)
vivino_file_white_df = pd.read_csv(vivino_file_white)

In [19]:
# merged red&white&sparkling and dropped NA values and got rid of Unnamed 0
vivino_merged_df = vivino_file_red_df.append(vivino_file_white_df)
vivino_merged_df = vivino_merged_df.append(vivino_file_sparkling_df)
vivino_merged_df

,Unnamed: 0,Name,Rating,Price,NumberOfRatings,Country,Winery
0,0,Cobos Marchiori Vineyard Malbec 2015,4.8,$223.99,669 ratings,Argentina,Viña Cobos
1,1,Adrianna Vineyard River Stones Malbec 2015,4.8,$173.99,190 ratings,Argentina,Catena Zapata
2,2,Darius II Cabernet Sauvignon 2016,4.8,$324.99,104 ratings,United States,Darioush
3,3,Saint-Émilion Grand Cru 2014,4.8,$183.99,98 ratings,France,Château Tertre Roteboeuf
4,4,Fortis Cabernet Sauvignon 2014,4.8,$299.99,91 ratings,United States,Pine Ridge
...,...,...,...,...,...,...,...
1961,1961,La Grande Année Brut Champagne 2004,4.5,View shops,3097 ratings,France,Bollinger
1962,1962,Brut Champagne 2005,4.5,View shops,2981 ratings,France,Dom Pérignon
1963,1963,La Grande Dame Brut Champagne 2006,4.5,View shops,2689 ratings,France,Veuve Clicquot
1964,1964,La Grande Dame Brut Champagne 2004,4.5,View shops,2338 ratings,France,Veuve Clicquot
1965,1965,J. Schram Brut 2000,4.6,View shops,25 ratings,United States,Schramsberg

In [20]:
vivino_merged_df = vivino_merged_df.drop(['Unnamed: 0'], axis=1)
vivino_merged_df

,Name,Rating,Price,NumberOfRatings,Country,Winery
0,Cobos Marchiori Vineyard Malbec 2015,4.8,$223.99,669 ratings,Argentina,Viña Cobos
1,Adrianna Vineyard River Stones Malbec 2015,4.8,$173.99,190 ratings,Argentina,Catena Zapata
2,Darius II Cabernet Sauvignon 2016,4.8,$324.99,104 ratings,United States,Darioush
3,Saint-Émilion Grand Cru 2014,4.8,$183.99,98 ratings,France,Château Tertre Roteboeuf
4,Fortis Cabernet Sauvignon 2014,4.8,$299.99,91 ratings,United States,Pine Ridge
...,...,...,...,...,...,...
1961,La Grande Année Brut Champagne 2004,4.5,View shops,3097 ratings,France,Bollinger
1962,Brut Champagne 2005,4.5,View shops,2981 ratings,France,Dom Pérignon
1963,La Grande Dame Brut Champagne 2006,4.5,View shops,2689 ratings,France,Veuve Clicquot
1964,La Grande Dame Brut Champagne 2004,4.5,View shops,2338 ratings,France,Veuve Clicquot
1965,J. Schram Brut 2000,4.6,View shops,25 ratings,United States,Schramsberg

In [21]:
vivino_merged_df = vivino_merged_df.dropna()
vivino_merged_df.head()

,Name,Rating,Price,NumberOfRatings,Country,Winery
0,Cobos Marchiori Vineyard Malbec 2015,4.8,$223.99,669 ratings,Argentina,Viña Cobos
1,Adrianna Vineyard River Stones Malbec 2015,4.8,$173.99,190 ratings,Argentina,Catena Zapata
2,Darius II Cabernet Sauvignon 2016,4.8,$324.99,104 ratings,United States,Darioush
3,Saint-Émilion Grand Cru 2014,4.8,$183.99,98 ratings,France,Château Tertre Roteboeuf
4,Fortis Cabernet Sauvignon 2014,4.8,$299.99,91 ratings,United States,Pine Ridge

In [22]:
# removed unnamed column and replaced United States with US
vivino_merged_df["Country"]= vivino_merged_df["Country"].replace("United States", "US")
vivino_merged_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Name,Rating,Price,NumberOfRatings,Country,Winery
0,Cobos Marchiori Vineyard Malbec 2015,4.8,$223.99,669 ratings,Argentina,Viña Cobos
1,Adrianna Vineyard River Stones Malbec 2015,4.8,$173.99,190 ratings,Argentina,Catena Zapata
2,Darius II Cabernet Sauvignon 2016,4.8,$324.99,104 ratings,US,Darioush
3,Saint-Émilion Grand Cru 2014,4.8,$183.99,98 ratings,France,Château Tertre Roteboeuf
4,Fortis Cabernet Sauvignon 2014,4.8,$299.99,91 ratings,US,Pine Ridge
...,...,...,...,...,...,...
1961,La Grande Année Brut Champagne 2004,4.5,View shops,3097 ratings,France,Bollinger
1962,Brut Champagne 2005,4.5,View shops,2981 ratings,France,Dom Pérignon
1963,La Grande Dame Brut Champagne 2006,4.5,View shops,2689 ratings,France,Veuve Clicquot
1964,La Grande Dame Brut Champagne 2004,4.5,View shops,2338 ratings,France,Veuve Clicquot
1965,J. Schram Brut 2000,4.6,View shops,25 ratings,US,Schramsberg

In [23]:
#Remove " View Shop" prices
vivino_merged_df= vivino_merged_df[vivino_merged_df.Price.str.contains("View shops") == False]
vivino_merged_df

,Name,Rating,Price,NumberOfRatings,Country,Winery
0,Cobos Marchiori Vineyard Malbec 2015,4.8,$223.99,669 ratings,Argentina,Viña Cobos
1,Adrianna Vineyard River Stones Malbec 2015,4.8,$173.99,190 ratings,Argentina,Catena Zapata
2,Darius II Cabernet Sauvignon 2016,4.8,$324.99,104 ratings,US,Darioush
3,Saint-Émilion Grand Cru 2014,4.8,$183.99,98 ratings,France,Château Tertre Roteboeuf
4,Fortis Cabernet Sauvignon 2014,4.8,$299.99,91 ratings,US,Pine Ridge
...,...,...,...,...,...,...
1864,American Spumante N.V.,3.0,$5.99,199 ratings,US,J. Roget
1865,Cava Brut N.V.,2.9,$24.99,28 ratings,Spain,Elvi
1866,Extra Dry (California Champagne) N.V.,2.8,$6.95,393 ratings,US,Cook's
1867,American Champagne Brut N.V.,2.7,$4.99,884 ratings,US,J. Roget
1868,American Champagne Extra Dry N.V.,2.4,$4.99,121 ratings,US,J. Roget

In [24]:
#remove"$"
vivino_merged_df['Price'] = vivino_merged_df['Price'].str.replace('$','')
vivino_merged_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Name,Rating,Price,NumberOfRatings,Country,Winery
0,Cobos Marchiori Vineyard Malbec 2015,4.8,223.99,669 ratings,Argentina,Viña Cobos
1,Adrianna Vineyard River Stones Malbec 2015,4.8,173.99,190 ratings,Argentina,Catena Zapata
2,Darius II Cabernet Sauvignon 2016,4.8,324.99,104 ratings,US,Darioush
3,Saint-Émilion Grand Cru 2014,4.8,183.99,98 ratings,France,Château Tertre Roteboeuf
4,Fortis Cabernet Sauvignon 2014,4.8,299.99,91 ratings,US,Pine Ridge
...,...,...,...,...,...,...
1864,American Spumante N.V.,3.0,5.99,199 ratings,US,J. Roget
1865,Cava Brut N.V.,2.9,24.99,28 ratings,Spain,Elvi
1866,Extra Dry (California Champagne) N.V.,2.8,6.95,393 ratings,US,Cook's
1867,American Champagne Brut N.V.,2.7,4.99,884 ratings,US,J. Roget
1868,American Champagne Extra Dry N.V.,2.4,4.99,121 ratings,US,J. Roget

In [25]:
vivino = vivino_merged_df[vivino_merged_df.Price.str.contains("ratings") == False]
vivino

,Name,Rating,Price,NumberOfRatings,Country,Winery
0,Cobos Marchiori Vineyard Malbec 2015,4.8,223.99,669 ratings,Argentina,Viña Cobos
1,Adrianna Vineyard River Stones Malbec 2015,4.8,173.99,190 ratings,Argentina,Catena Zapata
2,Darius II Cabernet Sauvignon 2016,4.8,324.99,104 ratings,US,Darioush
3,Saint-Émilion Grand Cru 2014,4.8,183.99,98 ratings,France,Château Tertre Roteboeuf
4,Fortis Cabernet Sauvignon 2014,4.8,299.99,91 ratings,US,Pine Ridge
...,...,...,...,...,...,...
1864,American Spumante N.V.,3.0,5.99,199 ratings,US,J. Roget
1865,Cava Brut N.V.,2.9,24.99,28 ratings,Spain,Elvi
1866,Extra Dry (California Champagne) N.V.,2.8,6.95,393 ratings,US,Cook's
1867,American Champagne Brut N.V.,2.7,4.99,884 ratings,US,J. Roget
1868,American Champagne Extra Dry N.V.,2.4,4.99,121 ratings,US,J. Roget

In [ ]:
vivino["Price"].unique()

In [26]:
# Convert price to integer
# vivino['Rating'] = pd.to_numeric(vivino['Rating'])
# vivino.astype({'Price': 'int32'}).dtypes
# pd.to_numeric(vivino["Price"], downcast='float')
# vivino['Rating'].astype(str).astype(float)
vivino["Rating"] = vivino["Rating"].map(float)
vivino["Price"] = vivino["Price"].map(float)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [39]:
vivino.head()

,Name,Rating,Price,NumberOfRatings,Country,Winery,Group
0,Cobos Marchiori Vineyard Malbec 2015,96.0,223.99,669 ratings,Argentina,Viña Cobos,$220-$240
1,Adrianna Vineyard River Stones Malbec 2015,96.0,173.99,190 ratings,Argentina,Catena Zapata,$160-$180
2,Darius II Cabernet Sauvignon 2016,96.0,324.99,104 ratings,US,Darioush,$320-$340
3,Saint-Émilion Grand Cru 2014,96.0,183.99,98 ratings,France,Château Tertre Roteboeuf,$180-$200
4,Fortis Cabernet Sauvignon 2014,96.0,299.99,91 ratings,US,Pine Ridge,$280-$300

In [27]:
#Multiply rating by 20
vivino["Rating"] = 20 * vivino["Rating"]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
bins = [0,20,40,60,80,100,120,140,160,180,200,220,240,260,280,300,320,340,360,380,400]
group_names = ["Below $20", "$20-40","40-$60", "$60-$80","$80-$100","$100-$120","$120-140","$140-$160","$160-$180","$180-$200","$200-$220","$220-$240","$240-$260","$260-$280","$280-$300","$300-$320","$320-$340","$340-$360","$360-$380","$380-$400"]

In [29]:
vivino["Group"] = pd.cut(vivino["Price"], bins, labels=group_names)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
vivino = vivino.rename(columns={ "Rating": "Mean Consumer Rating", "Price" : "Mean Consumer Prices"})
vivino_mean_group = vivino.groupby(["Group"]).mean()
vivino_mean_country = vivino.groupby(['Country','Group']).mean()
vivino_mean_country

                     Mean Consumer Rating  Mean Consumer Prices
Country   Group
Argentina Below $20             72.933333             14.878667
          $20-40                81.894737             29.524737
          40-$60                87.000000             47.388125
          $60-$80               88.000000             70.582727
          $80-$100              89.230769             93.752308
...                                   ...                   ...
Uruguay   $300-$320                   NaN                   NaN
          $320-$340                   NaN                   NaN
          $340-$360                   NaN                   NaN
          $360-$380                   NaN                   NaN
          $380-$400                   NaN                   NaN

[500 rows x 2 columns]

In [9]:
#Drop NA
# filter columns to Country, rating and price
#Rename columns
#Convert data if needed
winemag = winemag_file_df
# winemag = winemag["price"].dropna()
winemag = winemag.dropna(subset=['price'])
# winemag = winemag.dropna(how='any')
winemag = winemag.drop(['Unnamed: 0'], axis=1)
winemag = winemag.rename(columns={"country": "Country", "points": "Professional Rating", "price" : "Wine Mag Prices"})
winemag

,Country,description,designation,Professional Rating,Wine Mag Prices,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [13]:
bins = [0,20,40,60,80,100,120,140,160,180,200,220,240,260,280,300,320,340,360,380,400]
group_names = ["Below $20", "$20-40","40-$60", "$60-$80","$80-$100","$100-$120","$120-140","$140-$160","$160-$180","$180-$200","$200-$220","$220-$240","$240-$260","$260-$280","$280-$300","$300-$320","$320-$340","$340-$360","$360-$380","$380-$400"]
winemag["Group"] = pd.cut(winemag["Wine Mag Prices"], bins, labels=group_names)

In [14]:
winemag_mean = winemag.groupby(["Group"]).mean()
winemag_mean = winemag_mean.dropna()
winemag_mean

           Professional Rating  Wine Mag Prices
Group
Below $20            86.575344        15.071664
$20-40               88.618383        29.741173
40-$60               90.284243        50.239841
$60-$80              91.121838        70.809101
$80-$100             91.775551        91.606212
$100-$120            92.141684       112.314168
$120-140             92.279302       130.068579
$140-$160            92.688285       150.694561
$160-$180            93.140426       172.038298
$180-$200            93.194872       195.292308
$200-$220            93.310345       212.758621
$220-$240            93.317308       230.432692
$240-$260            94.062500       251.968750
$260-$280            94.400000       273.625000
$280-$300            93.764706       295.808824
$300-$320            94.625000       312.250000
$320-$340            94.080000       327.560000
$340-$360            94.677419       352.387097
$360-$380            94.666667       371.523810
$380-$400            94.321429       397.285714

In [ ]:
#On average wine cellar 
merged_df= pd.merge(vivino_mean, winemag_mean, on="Group")
merged_df

In [ ]:
# winemag_mean = winemag.groupby(["Country"]).mean()
vivino_median = vivino.groupby(['Country']).median()
vivino_median
# vivino_median = vivino_median.rename(columns={ "Rating": "Median Consumer Rating", "Price" : "Median Vivino Prices"})
# merged_df_median = pd.merge(vivino_median, winemag_median, on="Country")
# merged_df_median["Price Difference"] = merged_df_median["Median Vivino Prices"] - merged_df_median["Median Wine Cellar Prices"]
# merged_df_median["Price Difference"].mean()

In [ ]:
winemag_mean = winemag.groupby(['Country']).mean()
winemag_mean